@import '../mixin/mixin';
@import '../variables/variables';

.erreur_infos {
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 145px;
    padding-top: 90px;
    color: $secondary;
    @include flex(column, center, center);
    min-height: 250px;
}

.erreur_infos_title {
    font-weight: 700;
    font-size: 288px;

    @media screen and (max-width: 768px) {
        font-size: 140px;
    }
}

.erreur_infos_content {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.erreur_infos_return {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    color: $secondary;
}