@import '../mixin/mixin';

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 68px;
    max-width: 95%;


    @media screen and (max-width: 900px) {
        height: 40px;
    }

    img {
        height: 60%;
        width: 85%;
        margin-left: 17%;

        @media screen and (max-width: 700px) {
            height: 40px;
        }
    }
}