@import '../mixin/mixin';
@import '../variables/variables';

.nav-container {
    display: flex;
    justify-content: flex-end;
    color: $secondary;
    font-size: 24px;
    width: 90%;

    @media screen and (max-width: 700px) {
        gap: 20px;
    }
}

.nav {
    display: flex;

    ul {
        display: flex;
        align-items: center;
        gap: 54px;

        @media screen and (max-width: 425px) {
            gap: 18px;
            font-size: 16px;
            text-transform: uppercase;
        }

        @media screen and (max-width: 375px) {
            gap: 20px;
            font-size: 15px;
        }

        :hover {
            text-decoration: underline;
        }
    }
}