@import '../mixin/mixin';
@import '../variables/variables';

.content {
    background-color: $tertiary;
    color: $secondary;
}

.a_propos_data {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/kasa_about_cover.png');
}